/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET.CSS ENDS */
body{
    background-image:url("/assests/bg-1@2x.png") ;
    background-repeat:no-repeat;
	background-size:cover;
    width:100%;
}
.headersection{
	width:100%;
}
.headermaxwidth{
	max-width:1280px;
	margin:0px auto;
}
.icon{
	color:#ffffff;
}
.menuicon{
	color:#ffffff;
	cursor: pointer;
	font-size:30px;
}
.notification{
	color:#ffffff;
}
.sidenav {
	background-color: #ed0295;
	height: 40%;
	left: 0;
	overflow-x: hidden;
	opacity:1;
	position: fixed;
	padding-top: 60px;
    top: 0;
    transition: 0.5s;
	width: 0%;
	z-index: 1;
}
.sidenav a {
	color:#777777;
	display: block;
	font-size: 25px;
	font-weight:500;
	opacity:1;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
	font-size: 36px;
	margin-left: 50px;
	position: absolute;
	right: 25px;
    top: 0;  
}

.topsection{
	align-items:center;
	background-color: #000000;
	display:flex;
	justify-content:space-between;
	opacity:0.7;
	padding:1%;
}
/* HEADERSECTION ENDS */
#101{
	padding:5px 30px;
}
#102{
	padding:5px 30px;
}
#103{
	padding:5px 30px;
}
.appicon{
	color:#717171;
	padding:5%;
}
.allapplications{
	color:#717171;
	font:12px "Gotham";
}
.applicationright{
	align-items:center;
	display:flex;
	justify-content:space-between;
} 
.arrowdown{
	color:#ed0295;
	font-size:12px;
	padding:5%;
}
.applicationleft{
	align-items:center;
	display:flex;
	justify-content:space-between;

}
.applicationstatus{
	color:#000000;
	font:12px "Gotham";
	padding:5px 30px;
}
.application{
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	display:flex;
	justify-content:space-between;
	width: 100%;
}
.builddata{
	padding:5px 30px;
}
 .build{
	color:#717171;
	font:12px "Gotham";
	
} 
.centerrectangle{
	   display: inline-block;
	   flex:1;
	   margin:4px;
		width:24%;
}
.compliance{
	color:#717171;
	font:14px "Gotham";
	padding:0% 1%;
	
	
}
.costdata{
	align-items:center;
	display:flex;
	justify-content: center;
}
.cost{
	color:#717171;
	font:14px "Gotham";
	padding:0% 1%;
}
 .circle{
  border-radius:7px;
  background-color: #95dd46;
  display:inline-block;
  height: 12px;
  width: 12px;
 
}
.day{
	color:#ed0295;
	font:12px "Gotham";
	font-weight:normal;
	position:relative;
	top:-30%;
	
}
 .intakedata{
	padding:5px 30px;
 }
.intake{
	color:#717171;
	font:12px "Gotham";

}
.instancehrdatas{
	color:#ed0295;
	font-weight: normal;
	font:14px "Gotham";
	padding:0px 12px;
}
.instancehrdata{
	color:#ed0295;
	font-weight: normal;
	font:14px "Gotham";

}
.instancehr{
	color: #555555;
	font:10px  "Gotham";
}
.instancehr-copy{
	color:#777777;
	font:10px  "Gotham";
}
.inventory{
	align-items:center;
	display: flex;
	justify-content:center;
}
.instances{
	left:-42%;
	position:relative;
	top: 50%;
}
.image{
	height:75%;
	width:95%;

}
.Line {
	border: solid 1px #9b9b9b;
	height:6%;
  }

  .lastscanned{
	color: #aaaaaa;
	display:flex;
	font:10px  "Gotham";
	justify-content: center;
	padding:10px;
	
	
  }
.leftrectangle{
	display: inline-block;
	flex:1;
	margin:4px;
	width:24%;
}
.largerectangle{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    cursor: pointer;
	display:inline-block;
	display: flex;
    flex-direction: column;
	height:85%;
	justify-content: space-between;
    margin:0% 0.5%;
    padding:3%;
    width:100%;
}
.largerectangle-copy{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    cursor: pointer;
	display:inline-block;
	display: flex;
    flex-direction: column;
	height:15%;
	justify-content: space-between;
    margin:1% 0.5%;
    padding:1%;
    width:100%;
}
.lowercost{
	align-items:center;
	display:flex;
	justify-content: center;
}
.lowerpart{
	display: flex;
	justify-content: space-around;
	
}
.lowerinventory{
	align-items: center;
	display:flex;
	justify-content:space-between;
}
.lowercompliance{
	align-items: center;
	display:flex;
	justify-content:space-between;
}
.lowestinventory{
	display:flex;
	justify-content:space-between;
}
.middlecost{
	display:flex;
	justify-content: center;

}
.middlemonitoring{
	align-content:center;
	display:flex;
	justify-content: center;
}
.middleinventory{
	align-items:center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	
}
.middlecostdata{
	color: #ed0295;
	display:block;
	font:28px "Gotham";
}
.mainsection{
	width:100%;
}
.mainmaxwidth{
	max-width:1220px;
	margin:0px auto;
}
.overall{
	font:18px "Gotham";
	font-weight:normal;

}
.oddnum{
	font:12px "Gotham";
	font-weight:normal;
}
.productiondata{
	padding:5px 30px;
}
.production{
	color:#717171;
	font:12px "Gotham";
	
}
.reddata{
	display:flex;
	flex-direction: row;
}
.rectanglesection{
	box-sizing:border-box;
	display:flex;
	justify-content: center;
	margin:0px auto;
	padding:30px 0px;
	width:100%;
}
.rectangle{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height:50%;
    justify-content: space-between;
    margin:2% 0.5%;
    padding:5%;
    width:100%;
}
.rightrectangle{
	flex:2;
	margin:9px 4px;
	width:49%;
}
.runrate{
	left:-15%;
	position:relative;
	top: 45%;
}
.sign{
	color:#717171;
}
.securitydot{
	background-color:#000000;
	padding:15px 20px;
}
.security{
	color:#717171;
	display: inline-block;
	font:12px "Gotham";
	
}

.storage{
	align-items:center;
	display:flex;
	justify-content: space-between;
	padding: 30px 20px;
}
.storagecontent{
	color: #717171;
	font:15px "Gotham";
	font-weight: normal;

}
.semicircle{
	width: 50px;
    height: 20px; /* as the half of the width */
    background-color:#ffffff;
    border-top-left-radius: 200px;  /* 100px of height + 10px of border */
    border-top-right-radius: 200px; /* 100px of height + 10px of border */
    border: 5px solid #ed0295;
    border-bottom: 0;
}
.upperpart{
	align-items:center;
	display:flex;
	justify-content:center;
	
}
.upperpart-copy{
	align-items:center;
	display:flex;
	
}
.uniquepart{
	display:flex;
	justify-content: center;
}
.use{
	color: #ed0295;
	font:10px "Gotham";
	font-weight:normal;
}
.uniqueuse{
	color:#777777;
	font:12px "Gotham";
	font-weight:normal;
}
.unique{
	color:#777777;
	display:block;
	font:12px "Gotham";
}

/* MAINSECTION ENDS */
@font-face{
	font-family: "Gotham";
	src: url("/assests/Gotham-Black.ttf");
}